.pixowor {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.pixowor-after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.pixowor-resmanager::after {
  @extend .pixowor-after;
  background: url("/assets/images/resmanager.svg") center center;
  background-size: 100%;
}

.pixowor-resmanager:hover,
.pixowor-resmanager.active,
.pixowor-resmanager.focus {
  background: url("/assets/images/resmanager-active.svg") center center;
  background-size: 100%;
}

.pixowor-editor::after {
  @extend .pixowor-after;
  background: url("/assets/images/editor.svg") center center;
  background-size: 100%;
}

.pixowor-editor:hover,
.pixowor-editor.active,
.pixowor-editor.focus {
  background: url("/assets/images/editor-active.svg") center center;
  background-size: 100%;
}

.pixowor-game::after {
  @extend .pixowor-after;
  background: url("/assets/images/game.svg") center center;
  background-size: 100%;
}

.pixowor-game:hover,
.pixowor-game.active,
.pixowor-game.focus {
  background: url("/assets/images/game-active.svg") center center;
  background-size: 100%;
}

.pixowor-plug::after {
  @extend .pixowor-after;
  background: url("/assets/images/plug.svg") center center;
  background-size: 100%;
}

.pixowor-plug:hover,
.pixowor-plug.active,
.pixowor-plug.focus {
  background: url("/assets/images/plug-active.svg") center center;
  background-size: 100%;
}

.pixowor-modules::after {
  @extend .pixowor-after;
  background: url("/assets/images/modules.svg") center center;
  background-size: 100%;
}

.pixowor-modules:hover,
.pixowor-modules.active,
.pixowor-modules.focus {
  background: url("/assets/images/modules-active.svg") center center;
  background-size: 100%;
}

.pixowor-group::after {
  @extend .pixowor-after;
  background: url("/assets/images/group.svg") center center;
  background-size: 100%;
}

.pixowor-group:hover,
.pixowor-group.active,
.pixowor-group.focus {
  background: url("/assets/images/group-active.svg") center center;
  background-size: 100%;
}

.pixowor-market::after {
  @extend .pixowor-after;
  background: url("/assets/images/market.svg") center center;
  background-size: 100%;
}

.pixowor-market:hover,
.pixowor-market:active,
.pixowor-market:focus {
  background: url("/assets/images/market-active.svg") center center;
  background-size: 100%;
}

.pixowor-function::after {
  @extend .pixowor-after;
  background: url("/assets/images/function.svg") center center;
  background-size: 100%;
}

.pixowor-function:hover,
.pixowor-function:active,
.pixowor-function:focus {
  background: url("/assets/images/function-active.svg") center center;
  background-size: 100%;
}

.pixowor-user::after {
  @extend .pixowor-after;
  background: url("/assets/images/user.svg") center center;
  background-size: 100%;
}

.pixowor-user:hover,
.pixowor-user:active,
.pixowor-user:focus {
  background: url("/assets/images/user-active.svg") center center;
  background-size: 100%;
}

.pixowor-close::after {
  @extend .pixowor-after;
  background: url("/assets/images/close.svg") center center;
  background-size: 100%;
}
.pixowor-close:hover,
.pixowor-close:active,
.pixowor-close:focus {
  @extend .pixowor-after;
  background: url("/assets/images/close-active.svg") center center;
  background-size: 100%;
}

.pixowor-settings::after {
  @extend .pixowor-after;
  background: url("/assets/images/settings.svg") center center;
  background-size: 100%;
}
.pixowor-settings:hover,
.pixowor-settings:active,
.pixowor-settings:focus {
  background: url("/assets/images/settings-active.svg") center center;
  background-size: 100%;
}
