html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

*:focus {
  outline: none;
}

// ---------------- 主题颜色 ------------------
$text-danger: #dc3545;
$text-active: #4164e4;
$primary-color: #4164e4;
$primary-color-disabled: #5569b3;
$content-background-color: #f2f5fa;
$nav: #2f313a;
$nav-active: #3f4250;

$explorer-bc: #212329;
$explorer-bc-active: #1b1d22;

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.error-message {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: $text-danger;
  letter-spacing: 1px;

  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    background: url("/assets/images/error.svg");
  }
}
::ng-deep p-accordion {
  .p-accordion {
    .p-accordion-header {
      &.p-highlight {
        .p-accordion-header-link {
          background-color: #1b1d22 !important;
          color: #fff !important;
        }
      }
      &:hover {
        .p-accordion-header-link {
          background-color: #1b1d22 !important;
          color: #fff !important;
        }
      }

      .p-accordion-header-link {
        border: none;
        color: #fff;
        background: transparent;
        border-radius: 0 !important;
        padding: 0.5rem;
        font-weight: normal;
        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .p-accordion-tab {
      .p-accordion-content {
        background: transparent;
        border-radius: 0 !important;
        padding: 0;
        border: none;
      }
    }
  }
}
::ng-deep p-fileupload {
  .p-fileupload {
    .p-fileupload-buttonbar {
      .p-button {
        display: initial;
        vertical-align: baseline;
      }
    }
  }
}
