<!-- <div class="plugins-market">
  <div class="plugins-market__header">
    <h1>插件市场</h1>
  </div>
  <div class="plugins-market__search">
    <input placeholder="搜索插件市场" />
  </div>

  <p-accordion>
    <p-accordionTab header="本地安装">
      <ul>
        <li *ngFor="let plugin of plugins">
          <div class="plugin-item">
            <div class="plugin-logo">
              <img src="{{ plugin.logo }}" />
            </div>

            <div class="plugin-info">
              <h3>{{ plugin.name }}</h3>
              <p>{{ plugin.description }}</p>
              <i>{{ plugin.author }}</i>
              <button>安装</button>
            </div>
          </div>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>

  <div class="plugins-market__upload">
    <h1>插件上传</h1>
    <div class="upload-filed">
      <p-fileUpload
        name="myfile[]"
        multiple="true"
        customUpload="true"
        showCancelButton="false"
        (uploadHandler)="onUpload($event)"
      >
        <ng-template let-file pTemplate="file">
          <div>{{ file.name }} - {{ file.size }} bytes</div>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</div> -->
<div class="game-explorer">
  <p-accordion>
    <p-accordionTab header="模板游戏">
      <ul>
        <li *ngFor="let game of games">
          <div class="game-item">
            <div class="game-logo">
              <img src="https://osd-alpha.tooqing.com/d40f8e9310c78e74eca40187a0e5d61a.png" />
            </div>

            <div class="game-info">
              <h3>{{ game.name }}</h3>
              <p>{{ game.description }}</p>
              <button>下载</button>
            </div>
          </div>
        </li>
      </ul>
    </p-accordionTab>
    <p-accordionTab header="我的游戏">
      <ul>
        <li *ngFor="let game of games">
          <div class="game-item">
            <div class="game-logo">
              <img src="https://osd-alpha.tooqing.com/d40f8e9310c78e74eca40187a0e5d61a.png" />
            </div>

            <div class="game-info">
              <h3>{{ game.name }}</h3>
              <p>{{ game.description }}</p>
              <button>下载</button>
            </div>
          </div>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>
