@import "styles/styles.scss";
.navigation-container {
  width: 60px;
  height: 100%;
  background: $nav;

  .navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-left: 2px solid $nav;
    cursor: pointer;

    &:hover {
      background: $nav-active;
    }

    &.active {
      border-left: 2px solid $primary-color;
    }
  }
}
