<div class="template-game-item">
  <div class="game-cover">
    <img src="{{ game.gameCover }}" />
  </div>
  <div class="game-box">
    <div class="game-info">
      <h4>{{ game.name }}</h4>
      <p>{{ game.description }}</p>
      <fieldset>
        <span>最后更新：</span>
        <i>{{ game.updatedAt | date }}</i>
      </fieldset>
    </div>
    <div class="game-operatings">
      <ng-container *ngIf="isTemplate(); else myGame">
        <ng-container *ngIf="game.isExists; else download">
          <button>使用模板</button>
          <button>设置</button>
        </ng-container>
        <ng-template #download>
          <ng-container *ngIf="isDownload; else downloadBtn">
            <span>正在下载...</span>
            <span>{{ progress }}%</span>
          </ng-container>
          <ng-template #downloadBtn>
            <button class="btn btn-download" (click)="downloadGame()">下载</button>
          </ng-template>
        </ng-template>
      </ng-container>
      <ng-template #myGame>
        <ng-container *ngIf="game.isExists; else download">
          <button>编辑</button>
          <button>设置</button>
        </ng-container>
        <ng-template #download>
          <ng-container *ngIf="isDownload; else downloadBtn">
            <span>正在下载...</span>
            <span>{{ progress }}%</span>
          </ng-container>
          <ng-template #downloadBtn>
            <button class="btn btn-download" (click)="downloadGame()">下载</button>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
