@import "styles/styles.scss";

.workbench {
  height: 100%;
}

.workbench_menu {
  height: 30px;
}

.workbench__container {
  height: calc(100% - 20px - 30px);
  display: flex;
  flex-direction: row;
  background-color: $explorer-bc;
}

.workbench__container__activitybar {
  width: 60px;
}

.workbench__container__explorer {
  width: 300px;
}

.workbench__container__stage {
  width: calc(100% - 660px);
}

.workbench__container__extensions {
  width: 300px;
}

.workbench__statusbar {
  height: 20px;
  background-color: $primary-color;
}
