<div class="workbench">
  <div class="workbench_menu">
    <Renderer placement="menubar-slot"></Renderer>
  </div>
  <div class="workbench__container">
    <div class="workbench__container__sidebar">
      <Renderer placement="sidebar-slot"></Renderer>
    </div>

    <div class="workbench__container__stage">
      <Renderer placement="editor-area-slot"></Renderer>
    </div>

    <div class="workbench__container__widgetbar">
      <Renderer placement="widgetbar-slot"></Renderer>
    </div>
  </div>
  <div class="workbench__statusbar">
    <Renderer placement="statusbar-slot"></Renderer>
  </div>
</div>
<Renderer placement="toast-slot"></Renderer>
