<div class="workbench">
  <div class="workbench_menu">
    <Renderer placement="menubar"></Renderer>
  </div>
  <div class="workbench__container">
    <div class="workbench__container__sidebar">
      <Renderer placement="sidebar"></Renderer>
    </div>

    <div class="workbench__container__stage">
      <Renderer placement="editor-area"></Renderer>
    </div>

    <div class="workbench__container__widgetbar">
      <Renderer placement="widgetbar"></Renderer>
    </div>
  </div>
  <div class="workbench__statusbar">
    <Renderer placement="statusbar"></Renderer>
  </div>
</div>
<Renderer placement="toast"></Renderer>
