@import "styles/styles.scss";

.user-profile {
  @extend .center-content;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
}
