<div class="game-manager">
  <tab-view>
    <tab-panel header="游戏模板">
      <div class="game-container">
        <div class="game-filter">
          <resmanager-filter
            [orderConditions]="templateGameOrderConditions"
            (handleOrder)="orderTemplateGames($event)"
          ></resmanager-filter>
        </div>
        <div class="game-list">
          <ng-container *ngFor="let templateGame of templateGames$ | async">
            <game-item [game]="templateGame" [type]="1"></game-item>
          </ng-container>
        </div>
      </div>
    </tab-panel>
    <tab-panel header="我的游戏">
      <div class="game-container">
        <div class="game-filter">
          <resmanager-filter
            [orderConditions]="myGameOrderConditions"
            (handleOrder)="orderMyGames($event)"
          ></resmanager-filter>
        </div>
        <div class="game-list">
          <ng-container *ngFor="let myGame of myGames$ | async">
            <game-item [game]="myGame" [type]="2"></game-item>
          </ng-container>
        </div>
      </div>
    </tab-panel>
  </tab-view>
</div>
