@import "styles/styles.scss";

.game-item {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

  .game-cover {
    margin-right: 10px;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }

  .game-box {
    width: 180px;

    .game-info {
      padding-right: 8px;
      height: 60px;
      margin-bottom: 12px;
      h4 {
        @extend .text-overflow;
        margin: 15px 0 10px 0;
      }

      p {
        @extend .text-overflow;
        font-size: 14px;
        margin-bottom: 5px;
      }

      fieldset {
        color: #999999;
        font-size: 14px;
      }
    }

    .game-operatings {
      display: flex;
      flex-direction: row;
      button {
        display: block;
        padding: 0.1em 0.85em;
        text-transform: uppercase;
        border: 2px solid #28242f;
        border-radius: 2em;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:hover {
          background: #28242f;
          color: #ffffff;
        }
      }
    }
  }
}
