.workbench {
  height: 100%;
}

.workbench__container {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: row;
}

.workbench__container__activitybar {
  width: 60px;
}

.workbench__container__explorer {
  width: 300px;
}
