<div class="workbench">
  <div class="workbench__menu">
    <menu #workbenchMenu></menu>
  </div>
  <div class="workbench__container">
    <div class="workbench__container__activitybar">
      <activitybar #workbenchActivitybar></activitybar>
    </div>

    <div class="workbench__container__explorer">
      <explorer #workbenchExplorer></explorer>
    </div>

    <div class="workbench__container__stage">
      <stage #workbenchStage></stage>
    </div>

    <div class="workbench__container__extensions" #workbenchExtensions></div>
  </div>
  <div class="workbench__statusbar" #workbenchStatusbar></div>
</div>

<div #content></div>
<p-toast key="globalMessage" position="top-center"></p-toast>

<p-dialog header="{{ title }}" [(visible)]="display">
  <div #dialog></div>
</p-dialog>
