<div class="workbench">
  <div class="workbench__menu" #workbenchMenu></div>
  <div class="workbench__container">
    <div class="workbench__container__activitybar" #workbenchActivitybar>
      <activitybar items="items"></activitybar>
    </div>

    <div class="workbench__container__explorer" #workbenchExplorer></div>

    <div class="workbench__container__editor" #workbenchEditor></div>

    <div class="workbench__container__extensions" #workbenchExtensions></div>
  </div>
  <div class="workbench__statusbar" #workbenchStatusbar></div>
</div>
